@media screen and (max-width:700px){
    header .conteiner{
        display: flex;
        flex-direction: column;
    }

    .filme-principal .conteiner{
        width: 95%;
    }

    .botao{
        margin-top: 8px;
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .titulo{
        margin-top: 30%;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}

